@font-face {
    font-family: Kanit;
    src: url("../fKanit/Kanit-Regular.ttf");
}

p {
     font-family: Kanit serif;
     /* font-style: italic; */
     /* font-weight: bold; */
     /* font-size: 26px; */
     font-variant: normal;
}

.mark {
    background-color: skyblue;
}

/* #t01 {
    width: 80%;
    background-color: green;
} */

table, th, td {
    width: 70%;
    border: 1px solid black;
    /* border-collapse: collapse; */
    padding: 20px;
    /* margin: 20px; */

}

th,td {
    padding:  15px;
    text-align: left;
}

#t02 tr:nth-child(even){
    background-color: #eee;
    
}

#t02 tr:nth-child(odd) {
    background-color: red;
}

#t02 th {
    background-color: black;
    color: blanchedalmond;
}

/* img {
    width: 400px;
    height: 300px;
} */


