selector {
    property: value;
    property: value;
    property: value;
  }

  
  
  #idName {
    color: red;
  }
  
  
  .className {
    color: greenyellow;
  }
  
  input:checked {
    width: 15px;
    height: 15px;
  }
  
  div:hover {
    color: palevioletred;
  }
  
  /* div::before {
    content: "hello world";
  } */
  
  div::first-letter {
    color: red;
  }
  
  /* ทดสอบ Combinators */

  #tagH div {
    /* color: yellowgreen; */
  }
  
  #tagH span {
    /* color: indianred; */
  }
  
  #tagH > div {
    /* color : orchid; */
  }
  
  /* ======================================================= */
  /* การเว้นว่าง ระหว่าง p กับ span  คือ จะเอาทั้งหมด */
  p span {
    color : darkgoldenrod;
  }
  
  /* เครื่องหมาย > จะเอาเฉพาะตัวลูก มันเจาะจงมากกว่า อันบนที่ใช้เว้นว่าง */
  p > span {
    color : aqua;
  }

  /* ===================================================== */
  
  p div {
    /* color: red; */
  }
  .plusCombinators + div {
    /* color : brown; */
  }
  
  .plusCombinators ~ div {
    /* color: burlywood; */
  }

  /* ====================================================== */

  /* attribute selector  ใช้ปีกก้ามปู  []*/

  input[type] {
    /* color: blue; */
  }
  
  input[type="password"] {
    /* background-color: silver; */
  }
  
  input[title~="this"] {
    /* / this something, X this-something, X thissomething, X something this */
    /* ใช้ได้เฉพาะ this ที่มีช่องว่าง ด้านหน้า กับ ด้านหลัง */
    
    /* background-color: darksalmon; */
  }
  
  input[title^="input"] { 
      /* title ที่ขึ้นต้นด้วย input */
    /* background-color : forestgreen; */
  }
  
  input[title|="input"] {
      /* inputที่มีขีด - ตามหลัง */
    /* background-color: black; */
  }
  
  input[title$="Form"] {
      /* $ จะหา Formที่อยู่ข้างหลัง */
    /* background-color: teal; */
  }
  
  input[title*="this"] {
      /* ดอกจัน * คือ thisทั้งหมด ไม่ว่าจะอยู่ตำแหน่งไหนก็ตาม */
    /* background-color: hotpink; */
  }


  /* ==================================================== */


  /* text decoration N.43 */


  
  .textAlign {
    /* color: rgba(92, 127, 21, 1); */
  
    /* text-align: left;  */
    /* text-align: right; */
    /* text-align: start; */
    /* text-align: center; */
    /* text-align: justify; */
    /* justify การเท่ากัน หน้า หลัง */
  }
  
  .verticalAlign {
    /* vertical-align: super; */
    /* vertical-align: sub; */
  }

  .verticalAlign02 {
    /* vertical-align: sub; */
  }
  
  .textAlign {
    /* word-spacing: 3mm; */

    /* ช่องว่างระหว่างคำ */
  }
  
  .textAlign {
    /* text-decoration-line: underline; */
    /* ขีดเส้นใต้ */

    /* text-decoration-style: double; */
    /* ลักษณะ ของเส้นที่ขีด */
    /* text-decoration-color: red; */

    
    /* text-decoration: overline solid red; */
    /* ใช้รูปแบบทั้ง3อย่าง รวมกัน */
  }
  
  .textAlign {
    /* text-indent: 10ch; */
    /* ย่อหน้า  10ตัวอักษร*/
  }
  
  .textDirection {
    width: 100vw;
    direction: ltr;
    /* จัดชิดซ้าย */

    /* direction: rtl; */
    /* จัดชิดขวา */

    text-shadow: 10px 5px;
    /* เงาตัวอักษร  ซ้ายขวา  ล่างบน */
  }
  

  /* =================================================== */

  /* ตัวอย่าง font */


  @font-face {
/* เพิ่ม font ที่เราต้องการ */

    font-family: Kanit;
    src: url(../fKanit/Kanit-Regular.ttf);
  }
  
  p {
    /* font-family: Kanit serif; */
    /* font-style: italic; */
    /* font-weight: bold; */
    /* font-size: 16px; */
    /* font-variant: small-caps; */
  }
  
  /* ================================================== */

  /* การตกแต่ง  list  N.46*/
  ul > li {
    border: solid 1px black;
    /* ใส่กรอบให้list */

    /* list-style-type: circle; */
    /* list-style-position: outside; */
    /* list-style-image: url(https://th.seaicons.com/wp-content/uploads/2017/02/address-book-icon.png); */
    /* list-style: circle inside url(https://www.dailygizmo.tv/wp-content/uploads/2017/05/y0-500x512.jpg); */
  }

  /* ================================================ */

  /* ปรับแต่ง border N.58 */
  
  .borderTable {
    /* width: 100vw; */
    /* min-width: 200px; */
    
    /* property 650px */
    /* max-width: 1000px; */
    /* height: 100px; */

    /* border-style: groove; */
    /* รูปแบบ กรอบ */
    /* border-radius: 10px; */
    /* มุมกรอบ */

    /* border-width: 10px; */
    /* border-color: red; */

    /* border: 10px double dodgerblue; */
    /* รูปแบบ short hand  */

    /* border-top-style: dotted; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-color: saddlebrown; */

    /* border-top-color: blueviolet; */
    /*  เปลี่ยนขอบ บน */
    /* border: ; */
  }


  /* =================================================== */

  /* ตาราง  N.50 */
  
  /* การใช้ , คั่น เป็นการเลือกแบบไม่สัมพันธ์กัน */
  table,
  td,
  th {
    /* border-collapse: collapse; */
    /* ใช้ร่วมกับ  border-spacing , empty-cells ไม่ได้ */

    border: 2px solid black;
    /* พิมพ์แบบ short hand */

    /* border-spacing: 20px; */
    /* ช่องว่าง ระหว่างตาราง */
    /* empty-cells: hide; */
    /* ข้อมูลว่าง  โชว์ไหม */

    /* table-layout: fixed; */
    /* ความกว้างในช่องตาราง */
     /* width: 100%; */
    /* height: 50px;  */

    /* caption-side: top; */
    /* ตำแหน่งของ caption ชื่อตาราง*/
  }
  
  /* ================================================= */

  /* ปรับแต่งรูปภาพ  พื้นหลัง image N.52 */

  img {
    display: block;
    border: solid black 1px;
    /* ใส่กรอบลงในรูปภาพ  */

    border-radius: 50%;
    /* มุมกรอบ */

    width: 200px;
    height: 200px;

    margin: auto;
  
    opacity: 0.5; 
    /* ความโปร่งแสง  0ถึง1 */
  }
  /* opacity 0 - 1, 0 คือ โปร่งแสง , 1 คือ ไม่โปร่งแสง */
  
/* ================================================== */

  /* background พื้นหลัง */

  .bgTest {
    /* width: 120vw; */
    /* height: 130vh; */
    /* background-color: rosybrown; */
    /* background-image: url(https://image.dek-d.com/contentimg/2018/wut_/kc.jpg); */
/* u    backgrond-image: url(https://www.w3schools.com/images/colorpicker.gif); */
  }
  
  /* background กำนหนดตำแหน่ง body คือ หน้าจอทั้งหมด */
  body {
    /* background-image: url(https://image.freepik.com/free-photo/white-cloud-blue-sky-sea_74190-4488.jpg); */
    /* background-repeat: no-repeat; */
    /* ทำซ้ำรูป */
    /* background-attachment: fixed; */
    /* ให้รูปค้างอยู่กับที่ เวลาเลื่อจอ */

    /* background-position: left top; */
    /* ตำแหน่งรูป */
    /* background-position: 20% 50%; */
    /* ตำแหน่งรูป แกนx แกนy */

  }
  

  /* =============================================== =========*/

  /* padding  margin N.55 */

  /* padding ระยะตัวอักษร ถึง กรอบ */
  /* margin ระยะกรอบ ถึง ขอบนอก */
  .paddingMargin {

    /* width: 100vw; */
    display: inline-block;
    /* ต้องกำหนดเป็น inline-block ถึงเห็นผล */

    background-color: aquamarine;

    padding: 10px 20px 30px 40px;
    /* บน ขวา ล่าง ซ้าย */
    
    margin: 10px 20px 30px 40px;
    /* margin: auto; */
  }

  /* ==================================================== */

  /* Display N.58 */
  
  .pDisplay {
    display: inline;
    /* เปลี่ยน tag p ให้เป็น inline element */
    /* ถ้าเป็น inline แล้วจะปรับค่า border , background ได้ 
    ถ้าเป็น content จะปรับไม่ได้ */

    /* display: contents; */
    border: 1px black solid;
    background-color: red;
    font-family: Kanit;

  }

  /* display: none; เวลาซ่อน จะไม่มี ช่องว่างข้อความที่หาย  */
  /* visibility: hidden;  เวลาซ่อน จะมี ช่องว่างข้อความที่หาย*/

  h1.hidden {
    /* display: none; */
    /* visibility: hidden; */
  }

  /* ทดสอบ เอาเม้าลากผ่าน */
  h1.hidden:hover {
    /* visibility: hidden; */
  }