* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    /* สีของtag a จะสืบทอดจาก body */
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page Layout */

.container {
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    /* ทิศทางการแสดงผล ของ flex*/
}

/* Header  */

header {
    color: #ef5350;
    padding: 20px 0;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    /* กำหนด content ในheader ให้จัดวางแบบไหน */
}

 header nav {
    list-style: none;
    /* ทำให้ link ใน tag nav มาเรียงต่อแถวกันแนวนอน */
    display: flex;
    align-items: baseline;
    /* จัดเรียงตำแหน่งของวัตถุ ในที่นี้คือ link ให้เป็น แนวแถวเดียวกัน */
} 

 header nav li {
    margin-right: 15px;
    /* ดัน link ไปทางขวาของ Header 15px */
}

header button {
    background-color: #ef5350;
    border: none;
    /* ลบ ขอบ ออก */
    padding: 8px 25px;
    /* padding ระยะห่างจากขอบถึงตัวอักษร บน-ล่าง 8px , ซ้าย-ขวา 25px */
    color: #fff;
    /* สีfont สีขาว */
    cursor: pointer;
    /* เวลาเอา เคอเซ่อ ไปชี้ที่ปุ่ม จะเป็น รูปมือชี้ */
    text-transform: uppercase;
    /* แปลงขนาด text ให้เป็น ตัวพิมพ์ใหญ่ */
}

/* Main Section */

.main-and-sidebar-wrapper {
    display: flex;
}

.main {
    text-align: center;
    margin-right: 60px;
    /* ระยะห่างระหว่าง element กับ ช่องข้างนอก  จากทางขวา*/
    flex: 3;
    /* ขนาดของflex ใน main */
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
    /* ระยะห่างระหว่าง element กับ ช่องข้างนอก  จากข้างล่าง  */
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}

/* Sidebar */

.sidebar {
    border: 1px solid #a2a2a2;
    padding: 20px;
    flex: 1;
    /* ขนาดของflex ใน sidebar */
    
}

/* Footer */

footer {
    color: #ef5350;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

/* การทำ Responsive */

@media (max-width: 600px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;  
        /* เมื่อย่อขนาดหน้าจอลง 600px จะเป็นทิศทางflex เป็น column */ 
    }

    .main {
        margin-right: 0%;
        /* เมื่อย่อขนาดหน้าจอลง 600px ระยะห่างทางขวา  0% คือ ไม่มีระยะห่าง */
        margin-bottom: 60px;
        /* เมื่อย่อขนาดหน้าจอลง 600px ระยะห่างของ img กับ sidebar จะห่างกัน 60px */

    }
}

/* ------------------------------------------------------ */
