* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    /* สีของtag a จะสืบทอดจาก body */
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font-family: Arial, Helvetica, sans-serif;
}

/* Page layout */

.container {
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    grid-gap: 60px;

}

header {
    grid-area: header;
    color: #ef5350;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header nav {
    justify-self: start;
    /* จัดตำแหน่ง nav ชิดซ้าย */
    list-style: none;
    /* ลบ list-style ออก */
}

header nav li {
    margin-right: 15px;
    /* ระยะห่างทางขวา  */
    display: inline-block;
    /* แสดง แบบ บรรทัดเดียวกัน */
}

header button {
    justify-self: end ;
    /* ชิดขวา */
    background-color: #ef5350;
    border: none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main {
    grid-area: main;
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}


.main img {
    width: 100%;
}

/* SideBar */

.sidebar {
    grid-area: sidebar;

    border: 1px solid #a2a2a2;
    padding: 20px;
}

/* Footer */

footer {
    grid-area: footer;

    color: #ef5350;
    text-align: center;
    padding: 20px 0;

}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


/* ทำ Responsive */

@media (max-width: 600px) {
    /* ถ้าขนาดหน้าจอ 600px แล้ว */

    .container{
        grid-template-columns: 1fr;
        /* จะเหลือ column เดียว */
        grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "footer";
    }
}

